:root {
    --primary-color: #574B60;
    --secondary-color: #3F334D;
    --accent1-color: #7D8491;
    --accent2-color: #C0C5C1;
    --accent3-color: #EAF0CE;

    --heading-font: "Noto Sans", sans-serif;
    --paragraph-font: "Open Sans", sans-serif;
    --zebra: hsl(0, 0%, 93%, 1);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--paragraph-font);
    text-align: center;
}

h1, h2, h3 {
    font-family: var(--heading-font);
    padding: 2rem;
}

p {
    padding: 1rem;
}

h1 {
    color: white;
    margin: 0;
}

.title {
    background-color: var(--secondary-color);
}

header img {
    width: 100%;
    position: relative;
}

header p {
    position: absolute;
    top: 150px;
    font-size: 16px;
    color: white;
}

header input {
    position: absolute;
    top: 200px;
    left: 240px;
    cursor: pointer;
}

nav {
    background-color: var(--accent2-color);
}

#menu::before {
    content: "\2630";
    font-size: 2.3rem;
}

#menu {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    width: 44px;
    text-align: right;
    padding: .25rem 2vw;
    position: absolute;
    top: 6vw;
    right: 3vw;
    color: white;
}

#menu.open::before {
    content: "x";
}

.open li {
    display: block;
}

nav ul li {
    display: none;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    text-align: center;
    padding: 1.2rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav .active {
    background-color: rgba(0,0,0,0.3);
}

nav a:hover {
    background-color: rgba(255,255,255,0.2);
}

.parent {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;
}

.card h3 {
    text-align: center;
    background-color: var(--secondary-color);
    padding: 1rem;
    color: white;
}

.weather {
    background-color: var(--primary-color);
}

.weather h2, .weather h3, .weather p, .weather figcaption {
    color: white;
}

.weather p, .weather figcaption {
    padding-bottom: 2rem;
    text-transform: capitalize;
}

.weather-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.advertisement {
    background-color: var(--accent1-color);
}

.advertisement img {
    width: 300px;
    height: auto;
    margin: 1rem;
    max-width: 360px;
}

footer {
    padding: 2rem;
    background-color: var(--secondary-color);
    text-align: center;
}

footer p {
    color: white;
}

.discover {
    display: grid;
    grid-template-columns: 1fr;
}

.card {
    background-color: var(--accent3-color);
    margin: 1rem;
}

.card figure {
    padding: 2rem;
}

.card img {
    width: 100%;
    height: auto;
}

.join {
    display: grid;
    grid-template-columns: 1fr;
}

.wf1 {
    margin: 0 auto;
    max-width: 300px;
}

.wf1 fieldset {
    margin: 2rem 0;
    border: 3px solid var(--primary-color);
    border-radius: 6px;
    background-color: var(--accent3-color);
}

.wf1 legend {
    color: var(--secondary-color);
    padding: 0 0.5rem;
    font-weight: bold;
    text-align: left;
}

.wf1 label {
    display: block;
    padding-top: 1rem;
    text-align: left;
}

.wf1 div {
    padding: 0.6rem;
    text-align: left;
}

.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"],
textarea
{
    background-color: var(--accent2-color);
    display: block;
    border: solid 1px var(--accent1-color);
    border-radius: 6px;
    padding: .75rem;
    width: 100%;
    max-width: 240px;
    appearance: none;
}

.wf1 input[type="submit"] {
    border: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 6px;
    padding: 1rem;
    width: 96%;
    max-width: 300px;
    margin: 0 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
    font-weight: bold;
    text-wrap: wrap;
}

.wf1 input[type="radio"], .wf1 input[type="submit"] {
    cursor: pointer;
}

.wf1 input:required {
    border-right: solid 8px var(--primary-color);
}

.wf1 input:required:valid {
    border-right: solid 8px var(--accent1-color);
}

table {
	margin: 2rem 0.5rem;
	border: thin solid var(--primary-color);
	border-collapse: collapse;
}

tr:first-child th {
	background-color: var(--primary-color);
	color: white;
}

th, td {
	padding: 5px;
	border: 1px solid var(--primary-color);
}

th {
	background-color: var(--accent2-color);
	font-size: larger;
}

td {
	text-align: center;
}

tbody tr:nth-child(odd) {
	background-color: var(--zebra);
}

#grid, #list {
    padding: 1rem;
    margin: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

.grid section img {
    width: 250px;
    height: auto;
    margin: 1rem;
    max-width: 360px;
}

.list {
	display: flex;
	flex-direction: column;
    margin: 1.5rem;
}

.list section {
	margin: 0;
}

.list section img, .list .remove {
    display: none;
}

.list section h3 {
	font-size: 1.2rem;
    color: black;
    text-align: center;

}

.list section:nth-child(even) h3 {
    background-color: var(--accent2-color);
}

.list section:nth-child(odd) h3 {
    background-color: var(--accent3-color);
}

.list section a {
    align-self: center;
    padding-right: 1rem;
    padding-bottom: 1rem;
    display: inline-block;
    word-wrap: break-word;
    max-width: 70%;
}

.list section:nth-child(even) {
	background-color: var(--accent2-color);
}