:root {
    --primary-color: #574B60;
    --secondary-color: #3F334D;
    --accent1-color: #7D8491;
    --accent2-color: #C0C5C1;
    --accent3-color: #EAF0CE;

    --heading-font: "Noto Sans", sans-serif;
    --paragraph-font: "Open Sans", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--paragraph-font);
    text-align: center;
}

h1, h2, h3 {
    font-family: var(--heading-font);
    padding: 2rem;
}

h1 {
    color: white;
    margin: 0;
}

.title {
    background-color: var(--secondary-color);
}

header img {
    width: 100%;
    position: relative;
}

header p {
    position: absolute;
    top: 150px;
    font-size: 16px;
    color: white;
}

header input {
    position: absolute;
    top: 200px;
    left: 240px;
    cursor: pointer;
}

nav {
    background-color: var(--accent2-color);
}

#menu::before {
    content: "\2630";
    font-size: 2.3rem;
}

#menu {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    width: 44px;
    text-align: right;
    padding: .25rem 2vw;
    position: absolute;
    top: 6vw;
    right: 3vw;
    color: white;
}

#menu.open::before {
    content: "x";
}

.open li {
    display: block;
}

nav ul li {
    display: none;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    text-align: center;
    padding: 1.2rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav .active {
    background-color: rgba(0,0,0,0.3);
}

nav a:hover {
    background-color: rgba(255,255,255,0.2);
}

.parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: 1rem;
}

.parent section h3 {
    text-align: center;
    background-color: var(--secondary-color);
    padding: 1rem;
    color: white;
}

.parent section p {
    padding: 1rem;
    background-color: var(--accent3-color);
}

.weather {
    background-color: var(--primary-color);
}

.weather h2 {
    color: white;
}

.weather p {
    padding: 2rem;
    color: white;
}

.advertisement {
    background-color: var(--accent1-color);
}

.advertisement img {
    margin: 2rem;
    width: 300px;
}

footer {
    padding: 2rem;
    background-color: var(--secondary-color);
    text-align: center;
}

footer p {
    color: white;
}