@media screen and (min-width: 500px) {
    header p {
        position: absolute;
        top: 130px;
        left: 30px;
        font-size: 25px;
        color: white;
    }
    
    header input {
        position: absolute;
        top: 200px;
        left: 240px;
        padding: 10px;
        cursor: pointer;
    }

    #menu {
        display: none;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        display: block;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    .parent  {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .advertisement img {
        width: 700px;
    }

    .discover {
        grid-template-columns: 1fr 1.5fr;
    }

    .card img:hover {
        box-shadow: 0 0 50px #333;
    }

    .join {
        grid-template-columns: 1fr 2fr;
    }

    table {
        margin: 2.5rem 2rem;
    }

    th, td {
        padding: 30px 15px;
    }

    .grid section img {
        width: 300px;
    }

    .list section a {
        max-width: 60%;
    }

    .list section {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 1fr;
    }
    
    .list section h3 {
        width: 100px;
    }
}