body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

header {
    position: relative;
    display: flex;
    background-color: darkblue;
    align-items: center;
    justify-content: center;
    color: white;
}

header img {
    padding: 2rem;
    filter: drop-shadow(-10px -10px 10px black);
}

header span {
    font-size: 2rem;
}

h1 {
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: 1px solid black;
    margin: 0;
}

nav {
    background-color: lightseagreen;
}

#menu::before {
    content: "\2630";
    font-size: 2.3rem;
}

#menu {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    width: 44px;
    text-align: right;
    padding: .25rem 2vw;
    position: absolute;
    top: 3vw;
    right: 3vw;
    color: white;
}

.links li {
    display: none;
    list-style-type: none;
}

#menu.open::before {
    content: "x";
}

.open li {
    display: block;
}

nav a {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav .active {
    background-color: rgba(0,0,0,0.3);
}

#first {
    color: white;
}

nav a:hover {
    background-color: rgba(255,255,255,0.2);
}

ul {
    margin: 0;
    padding: 0;
}

#darkMode {
    padding: 0;
    position: absolute;
    cursor: pointer;
    top: 3vw;
    right: 70px;
}

.dark {
    background-color: black;
}

.light {
    color: white;
}

.darker {
    background-color: white;
}

.hero {
    position: relative;
    padding: 0;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero span {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255, 0.5);
    padding: 0.8rem;
    text-align: center;
}

h1 {
    padding-top: 1.5rem;
}

.parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin-top: 1rem;
    padding: 2rem;
}

.card {
    box-shadow: 5px 5px 10px black;
}

.card ul {
    padding: 2rem;
}

.card ul li {
    padding: 0.5rem;
}

.card p {
    padding: 1rem;
}

h2 {
    margin: 0;
    text-align: center;
    background-color: darkblue;
    padding: 1rem;
    color: white;
}

.card p {
    text-align: center;
}

.label {
    font-weight: bolder;
}

.map {
    padding: 2rem;
}

.map iframe {
    width: 100%;
}

footer {
    padding: 2rem;
    background-color: darkblue;
    text-align: center;
    color: white;
}