@media screen and (min-width: 500px) {
    .links {
        display: flex;
    }

    .links li {
        display: block;
    }

    nav .links li {
        flex: 1 1 100%;
    }

    #menu {
        display: none;
    }

    #darkMode {
        right: 3vw;
    }

    .hero {
        padding: 2rem;
    }

    .hero span {
        font-size: 1.8rem;
        top: 45%;
    }

    h1 {
        padding-top: 0;
    }

    .parent {
        grid-template-columns: 2fr 1fr;
    }

    header span {
        font-size: 3rem;
    }
}