@media screen and (min-width: 500px) {
    .profile {
        width: 200px;
    }

    header img {
        padding: 2rem;
    }
    
    header span {
        font-size: 2rem;
        margin-top: 0;
    }

    h1 {
        font-size: 2rem;
    }
    
    .links {
        display: flex;
    }

    .links li {
        display: block;
    }

    nav .links li {
        flex: 1 1 100%;
    }

    #menu {
        display: none;
    }

    #darkMode {
        right: 3vw;
    }

    .hero {
        padding: 2rem;
    }

    .hero span {
        font-size: 1.8rem;
        top: 45%;
    }

    h1 {
        padding-top: 0;
    }

    .parent {
        grid-template-columns: 2fr 1fr;
    }

    header span {
        font-size: 3rem;
    }

    .wf1 {
        max-width: 400px;
    }

    .wf1 input[type="text"],
    .wf1 input[type="password"],
    .wf1 input[type="email"] {
        width: 100%;
        max-width: 350px;
    }

    #rating {
        width: 100%;
        max-width: 350px;
    }

    #rangevalues {
        max-width: 500px;
    }

    #rangevalues option {
        text-align: center;
    }
}